.pageContainer{
    width: 100%;
    height: 100%;

    .containerReview{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 68px;

        h1{
            font-family: 'Ephesis', cursive;
            margin-bottom: 50px;
            margin-top: 44px;
            font-weight: 400;
            font-size: 50px;
            letter-spacing: 0.1em;
        }

        h2{
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 60px;
        }

        .reviewsContainer{
            width: 100%;
            overflow-y: auto;
            height: 100%;

            .review {
                background: #FFFFFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                margin: 20px;
                padding: 15px;
                height: 84px;
            }


        }

        ::-webkit-scrollbar{
            background-color: #FFFFFF;
            width: 6px;   
                  
          }

        ::-webkit-scrollbar-thumb {
            background-color: #A5A5A5;
            border-radius: 5px;
        }
    }
}

@media (max-width: 768px) {
    .containerReview{
        margin: 0 !important;
        align-items: center;
        h1{
            margin: 0 !important;
        }
        h2{
            margin: 0 !important;
        }
    }
}