.blackScreen{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
}
.background{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/login/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.login{
    height: 100%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    img{
        height: 75%;
        position: relative;
    }

    div{
        top: 50%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    button{
        width: 340px;
        height: 63px;
        margin-bottom: 40px;
        background-color: var(--orange);
        color: var(--white);
        border: 1px solid var(--orange);
        border-radius: 5px;
        font-weight: 700;
        font-size:2.5em;
        cursor: pointer;
    }
}
.loginModal{
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(76, 72, 67, 0.57);
    position: absolute;
    z-index: 3;

}
.loginModalContainer{
    display: none;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    flex-direction: column;
    height: fit-content;
    width: 40%;
    background: #FFFFFF;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    justify-content: space-around;
    padding: 21px;

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        letter-spacing: 0.1em;
        font-weight: 700;
        text-align: center;
    }

    .input-modal{
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            background: #FFFFFF;
            border: 1px solid #989898;
            border-radius: 10px;
            height: 56px;
            width: 485px;
            margin-bottom: 10px;
            padding-left: 15px;
        }
    }

    

    div:first-of-type{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    div:last-of-type{
        margin: 10px;
        display: flex;
        justify-content: space-around;
    }

    .button-modal {
        
        button{
            width: 219px;
            color: #FFFFFF;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            height: 46px;
            background: linear-gradient(88.61deg, #07AB6B 1.19%, #0BF197 97.46%);
            border-radius: 37px;
            border: none;
            cursor: pointer;
        }
    }
    
}

@media (max-width: 1400px) {
    .login {

        button {
            width: 250px;
            font-size: 30px;
        }
    }
}

@media (max-width: 1200px) {
    
    .login {

        button {
            width: 250px;
            font-size: 30px;
        }
    }
    .loginModalContainer{
        width: 50%;

        .input-modal {
            input{
                height: 56px;
                width: 350px;
                border-radius: 10px;
            }
        }
        .button-modal {
            button{
                width: 145px;
                height: 50px;
            }
        }   
        
    }

    
}


@media (max-width: 760px) {
    .loginModalContainer{
        width: 85%;

        .input-modal {
            input{
                height: 56px;
                width: 350px;
                border-radius: 10px;
            }
        }
        .button-modal {
            button{
                width: 145px;
                height: 50px;
            }
        }   
        
    }
}

@media (max-width: 400px) {
    .loginModalContainer{
        width: 90%;

        .input-modal {
            input{
                height: 56px;
                width: 280px;
                border-radius: 10px;
            }
        }
        .button-modal {
            button{
                width: 120px;
                height: 50px;
            }
        }   
        
    }
    
    .login {
        
        img {
            height: 60%;
        }

        

        button {
            width: 200px;
            height: 50px;
            font-size: 25px;
        }
    }
  }